@font-face {
    font-family: "Apex M2";
    src: url(./apex.otf);
}
@font-face {
    font-family: "San Fran";
    src: url(./SF-Pro.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.primary_inverted{
    background: #1d1d37;
    color: #fcfcfc;
}

body{
    background: #2d2d47;

    .horizontal{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        width: auto;
        min-height: 300px;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: auto;
        align-items: flex-start;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        a{

            &::before{
                display: none;
            }
            &:hover, &:focus{
                opacity: 0.9;
            }
        }
    }
    
    .horizontal div{
        min-width: 40vh;
        margin: 10px 14px;
        justify-content: center;
        align-items: center;
    }
    
    .horizontal::-webkit-scrollbar{
        border-radius: 7px;
        display: block;
        height: 22px;
        background: #5e5e5e;
    }
    .horizontal::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: #06a5af;
    }

    h1, h2, h3, h4, h5, h6{
//        font-family: "Apex M2";
        font-weight: 400;
    }

    .event_card{
        width: 40vh;
        height: 22.5vh;
    }

    .pivot_menu{
        position: fixed;
        top: 93vh;
        background: #1d1d57;
        z-index: 10;

        a{
            color: #fcfcfcfc;
        }
    }

    .install_prompt{
        width: 40vh;
        height: 22.5vh;
        position: fixed;
        top: 40vh;
        left: 20vw;
        background: #fcfcfcac;
        backdrop-filter: blur(10px);
        padding: 10px 20px;

        .app_name{
            font-size: 3vh;
        }
    }

    .sch_event{
        width: 44vh;
        height: 24.75vh;
        padding: 5px 10px;
        border-radius: 8px;
        background: #468adf;
        color: #fcfcfc;

        .title{
            font-size: 2.0vh;
        }
        .description{
//            font-family: "Apex M2";
            padding: 20px 0px;
        }
        .time{
            font-size: 12.5px;
            padding: 2px 6px;
            background: #0e0e0e;
            color: #fcfcfc;
            width: 10em;
            margin-top: 15px;
        }
        .speaker{
            font-size: 3.4vh;
        }
    
    }
    a{
        color: #fcfcfc;
    }

    th:nth-child(2), td:nth-child(2){
        width: 320px;
    }

    table{
        padding-left: 16px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-collapse: separate;
        border-spacing: 0px 18px;

        thead{

            tr{
                border-radius: 16px;

                &:nth-child(1){
                    background: #1e1e1e;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                th{
                    &:first-child{
                        padding: 26px 36px;
                        border-radius: 16px 0px 0px 16px;
                    }
                    &:last-child{
                        padding: 26px 36px;
                        border-radius: 0px 16px 16px 0px;
                    }
                    &:hover{
                        background: inherit;
                        color: inherit;
                    }
                }
            }
        }

        tbody{

            tr{
                border-radius: 16px;

                &:nth-child(even), &:nth-child(odd){
                    background: #fcfcfc;
                }
                &:nth-child(1){
                    background: #ff8800;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:nth-child(2){
                    background: #06a5af;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:nth-child(3){
                    background: #0065af;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:hover{
                    opacity: 0.8;
                }

                td{
                    color: #000;

                    &:first-child{
                        padding: 26px 36px;
                        border-radius: 16px 0px 0px 16px;
                    }
                    &:last-child{
                        padding: 26px 36px;
                        border-radius: 0px 16px 16px 0px;
                    }
                    &:hover{
                        background: inherit;
                        color: inherit;
                    }
                }
            }
        }

    }
}

*{
    transition: 300ms;
    font-family: "San Fran", "Open Sans", "Segoe UI", "Roboto", sans-serif;
    font-weight: 400;
}

.fullheight{
    min-height: 100vh;
}

@media (max-width: 480px){
    .sm-9{
        width: 100vw;
    }
    #install_button_surface .modal_content{
        height: 90vh;
    }
}

/*
@media (prefers-color-scheme: dark){
    :root:not(img){
        filter: invert(100%) hue-rotate(180deg);
    }
}
*/
.large_icon{
    width: 100px;
    height: 100px;
}
.app_name{
    font-size: 4vh; 
}

.intall_surface{
    padding: 20px;
    z-index: 20;
    position: fixed;
    
    background: #fcfcfcac;
    backdrop-filter: blur(10px);
}